
body{
  justify-content: center;
  text-align: center;
  font-family: 'Trebuchet MS';
  font-size: 15px;
  display: flex;

}

h1 {
text-align:left ;
}

.alert{
  margin-top: 15px;
}
.form-control {
  margin-right: 50%;

}


